/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

*{
    font-family: "Azeret Mono";
    font-style: normal;
}

/* Header related styles */
header{
    background-image: url(../assets/Hero-bg.png);
    width: 1588px;
    height: 652px;
}
.banner-container{
    text-align: center;
}
.banner-img-container > img{
    margin-top: 35px;
    margin-bottom: 20px;
}
.banner-title{
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 25px;
}
.banner-paragraph{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
}
.banner-button{
    padding: 20px 20px;
    gap: 10px;
    border-radius: 8px;
    background: #0D1321;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* Development section styles */
.development{
    justify-content: center;
    text-align: center;
    width: 1140px;
    padding: 80px 97px;
    gap: 10px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-top:80px;
    margin-left: 125px;
}
.development-title{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.development-paragraph{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
}

/* Box section styles */
.box{
    margin-top: 50px;
    display: flex;
    padding: 30px;
    height: 200px;
    flex-direction: column;
    gap: 32px;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}
.box1{
    display: flex;
    justify-content: space-between;
}
.box1-text-container{
    text-align: center;
}
.box-title{
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align-last: left;
}
.box-paragraph{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    text-align-last: left;
}
.box-button{
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #0D1321;
    opacity: 0.7;
    color: #0D1321;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.box1-img img{
    display: flex;
    width: 274.169px;
    height: 240px;
    padding: 3.767px 13.664px 19.221px 0.941px;
    align-items: center;
    flex-shrink: 0;
}
.box2{
    display: flex;
    padding: 30px;
    height: 200px;
    flex-direction: column;
    gap: 32px;
    align-self: stretch;
    border-radius: 16px;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}
.box-2{
    display: flex;
    justify-content: start;
}
/* Inspiration section styles */

.inspiration{
    margin-top: 120px;
}
.inspiration-text-container{
    text-align: center;
    margin-bottom: 45px;
}
.inspiration-title{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 30px;
}
.inspiration-paragraph{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
}
.inspiration-video-container{
    padding: 32px;
    gap: 10px;
    border-radius: 16px;
    width: 800px;
    height: auto;
    border: 2px solid rgba(52, 66, 97, 0.2);
    margin-left: 400px;
}
.inspiration-video{
    border-radius: 16px;
}
/* Target section styles*/

.target{
    margin-top: 160px;
}
.target-caption-container{
    text-align: center;
}
.target-caption{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
}
.target-paragraph{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
}
/* card styles */

.card{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.html{
    display: flex;
    width: 300px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.css{
    display: flex;
    width: 300px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.js{
    display: flex;
    width: 300px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.card-img{
    width: 56px;
    height: 56px;
    margin-bottom: -20px;
}
.card-title{
    color: #0D1321;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: -25px;
}
.card-paragraph{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: -7px;
}
.card-btn{
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}
/* support section styles */

.support{
    background-image: url(../assets/handshake.jpg);
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    height: 630px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 16px;
}
.support-text{
    padding: 21%;
}
.support-title{
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
}
.support-paragraph{
    color: #fffdfd;
    font-size: 16px;
    font-weight: 400;
}
.support-btn-1{
    width: 548px;
    padding: 19px 20px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    color: rgba(13, 19, 33, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.support-btn-2{
    width: 120px;
    padding: 17px 20px;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
    cursor: pointer;
}
/* Footer section start */

.footer{
    margin-top: 80px;
    width: auto;
    padding: 32px 150px;
    gap: 32px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.footer-text{
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
}
.footer-icon{
    display: flex;

}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-img{
    gap: 24px;
}